*{
    margin: 0;
    padding: 0;
}

canvas{
    align-content: center;
    border: 15px groove rgb(37, 37, 37);
    position:relative ;
    top: 60px;
    left: 325px;
}

header{
    height: 60px;
    width: 350px;
    background-color: rgb(223, 174, 114);
    text-align: center;
    position: relative;
    top: 40px;
    left: 650px;

    
}

h1{
    position: relative;
    top: 0;
    font-size: 50px;
}

body{
    background-color: blanchedalmond;
}